.App {
  text-align: center;
}
body{
  background-color: #212121;
  justify-content: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.header {
  display: flex;
  font-weight: bold;
  top: 0;
  width: 100%;
  align-items: center;
  min-height: 8vh;
  background: #F44336;
  color: #FFF;
}
.title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: larger;
  margin-left: 20px;
  padding:5px;
}
.footer {
  position: inherit;
  display: flex;
  width: 100%;
  bottom: 0;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  min-height: 8vh;
  background: #F44336;
  color: white;
}
.container-title{
  display: flex;
}
.logo{
  margin: 10px 10px 20px;
}
.title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: x-large;
  font-weight: bold;
  margin-left: 2px;
  padding:2px;
}
.title-text, .title-text-head{
  margin: 2px;
  padding: 2px;
}
.title-text-head{
  border-bottom: 1px solid #F5F5F5;
}
.dashboard-body{
  display: flex;
}
.container-title{
  display: flex;
}
.container-options{
  width: 40%;
  text-align: center;
  height: 90vh;
  background-color: antiquewhite;
}
.container-foods{
  width: 60%;
  overflow-y: scroll;
  margin: 10px;
}
.container-add-food{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-food-list{
  width: 100%;
  text-align: center;
  color: #FFF;
}
.container-loading{
  display: flex;
  width: 100%;
  padding: 20px 0 50px;
  justify-content: space-around;
  color: #FFF;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #FFC107;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FFA000;
  border-radius: 10px;
}
@media(max-width: 770px){
  .header{
    flex-direction: column;
    font-size: smaller;
  }
  .footer{
    font-size: smaller;
    min-height: 5vh;
  }
  .image{
    display: none;
  }
  .dashboard-body{
    flex-direction: column;
  }
  .container-options{
    width: 100%;
    height: 70%;
    padding-bottom: 20px;
  }
  .container-foods{
    margin: 0;
    width: 100%;
    height: 50%;
  }
}